@font-face {
    font-family: "Familiada Regular";
    src: url("familiada.eot?") format("eot"),
    url("familiada.woff") format("woff"),
    url("familiada.ttf") format("truetype"),
    url("familiada.svg#Familiada") format("svg");
    font-weight: normal;
    font-style: normal;
}

